eagle25.png
eagle25.txt
greeting57.png
greeting57.txt
heart25.png
heart25.txt
input1-no.png
input1-no.txt
input1.png
input1.txt
input10-no.png
input10-no.txt
input10.png
input10.txt
input2-no.png
input2-no.txt
input2.png
input2.txt
input20.png
input20.txt
input3.png
input3.txt
input4.png
input4.txt
input5.png
input5.txt
input50.png
input50.txt
input6.png
input6.txt
input7.png
input7.txt
input8-dups.png
input8-dups.txt
input8-no.png
input8-no.txt
input8.png
input8.txt
java60.png
java60.txt
jerry47.png
jerry47.txt
logo.png
princeton96.png
princeton96.txt
sedgewick60.png
sedgewick60.txt
snake101.png
snake101.txt
snake13.png
snake13.txt
wayne98.png
wayne98.txt